.job-preview {
  padding: 0px 20px 20px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #ffffff;
  display: block;
  margin-right: 170px;
  margin-bottom: 10px;
}

.job-preview .m-view {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.job-preview .left {
  padding: 10px 20px 0px 0px;
}

.job-preview .com-logo {
  overflow: hidden;
  margin-bottom: 5px;
}

.job-preview .view-all-jobs {
  float: right;
  font-size: 12px;
}

.job-preview .view-all-jobs a {
  color: #317ab9;
  text-decoration: underline;
}

.job-preview .com-logo img {
  display: block;
  float: right;
}

.job-preview h2 {
  color: #2b882f;
  font-weight: bold;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

.job-preview h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.job-preview h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0px 6px 0px;
  color: #5c5c5c;
}

.job-preview h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0px 6px 0px;
  color: #5c5c5c;
}

.job-preview p {
  margin: 0;
  padding: 0px 0px 0px 20px;
  line-height: 24px;
  color: #5c5c5c;
}

.job-preview ul {
  margin: 0px 0px 0px 40px;
  padding: 0;
}

.job-preview ul li {
  color: #5c5c5c;
  line-height: 24px;
  padding-bottom: 5px;
}

.job-preview .guide,
.job-preview .or {
  margin: 15px 0px 20px 0px;
  color: #5c5c5c;
}

.job-preview .guide h5 {
  margin-bottom: 20px;
}

.job-preview .guide span {
  font-size: 14px;
  line-height: 24px;
}

.job-preview .guide .red {
  color: #e72318;
}

.job-preview span.date {
  margin-top: 10px;
  display: block;
}

.job-preview .guide span strong {
  color: #5c5c5c;
}

.job-preview .guide .rbapp {
  color: #5c5c5c;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px 6px 0px;
}

.job-preview .guide .appprocedure {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  padding: 0;
}

.job-preview .guide h2 {
  color: #5c5c5c;
  font-size: 18px;
}

.job-preview .guide h3 {
  color: #5c5c5c;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px 6px 0px;
}

.job-preview .disclaimer {
  margin-top: 20px;
  float: left;
  font-size: 12px;
  color: #ff3b30;
  text-align: center;
}

.job-preview .disclaimer.bn {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 14px;
}

.job-preview .apply-instruction {
  color: #5c5c5c;
  font-weight: bold;
  text-decoration: underline;
}

.job-preview .guide h2 .red {
  color: #e72318;
}

.job-preview .company-info {
  margin: 40px 0px 20px 0px;
  border-top: 1px solid #e0e0e0;
  float: left;
  width: 100%;
}

.job-preview .company-info .information {
  padding: 0px;
  margin: 0px 150px 0px 0px;
  float: left;
}

.job-preview .company-info .information h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0px 6px 0px;
  color: #5c5c5c;
}

.job-preview .company-info .follow-button {
  width: 140px;
  float: right;
  margin-left: -140px;
  display: block;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}

.job-preview .company-info .follow-button .btn {
  position: relative;
}

.job-preview .company-info .follow-button .new-btn {
  position: absolute;
  float: right;
  top: 0;
  right: 0px;
}

.job-preview .company-info .follow-button .btn {
  background: #757575;
  text-align: center;
  color: #ffffff;
  width: 100px;
}

.job-preview .company-info .follow-button .btn img {
  margin-top: 0px;
}

.job-preview .company-info span {
  display: block;
  color: #5c5c5c;
}

.job-preview .aaempimg-wrap {
  margin: 5px 0px 5px 0px;
  display: inline-block;
  text-decoration: none;
}

.job-preview .aaempimg-wrap img {
  width: 18px;
  height: 15px;
  margin-right: 5px;
}

.job-preview .aaempimg-wrap a {
  text-decoration: none;
  color: #2b74b3;
  font-size: 12px;
  line-height: 18px;
}

.job-preview .aaemp-wrap {
  margin: 0px 0px 20px 0px;
  border-top: 1px solid #e0e0e0;
  float: left;
  width: 100%;
}

.job-preview .aaemp-wrap .aae-title {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: bold;
  color: #5c5c5c;
}

.job-preview .aaemp-wrap .aae-title img {
  margin-right: 10px;
}

.job-preview .aaemp-wrap .panel {
  border-color: transparent;
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px 0px 0px 0px;
}

.job-preview .aaemp-wrap .panel>.panel-heading {
  background-color: transparent;
  border-color: transparent;
  display: inline-block;
  padding: 0px;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #2b74b3;
  margin-bottom: 10px;
}

.job-preview .aaemp-wrap .panel>.panel-heading .title {
  cursor: pointer;
  color: #2b74b3;
  text-decoration: none;
}

.job-preview .aaemp-wrap .panel>.panel-heading .title span {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.job-preview .aaemp-wrap .panel>.panel-heading .title:before {
  font-family: "ui-icon";
  content: "\e909";
  font-size: 14px;
  line-height: 1.5;
  float: right;
  margin-left: 10px;
}

.job-preview .aaemp-wrap .panel>.panel-heading .title.collapsed:before {
  font-size: 14px;
  line-height: 1.5;
  float: right;
  content: "\e908";
  margin-left: 10px;
}

.job-preview .aaemp-wrap .panel-body {
  padding: 15px;
  border: 1px solid #2b74b3;
  background-color: #ffffff;
  color: #002d66;
  border-radius: 4px;
}

.job-preview .aaemp-wrap .panel-body ul {
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
}

.job-preview .aaemp-wrap .panel-body ul li {
  list-style: none;
  color: #002d66;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 12px;
}

.job-preview .aaemp-wrap .panel-body ul li:last-child {
  padding-bottom: 0px;
}

.job-preview .aaemp-wrap .panel-body ul li img {
  margin-right: 18px;
  width: 18px;
  height: 18px;
}

.job-preview .aaemp-wrap .panel-body .nrb-wrap {
  margin: 20px 0px 0px 0px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
}

.job-preview .aaemp-wrap .panel-body .btt-wrap {
  margin: 15px 0px 0px 0px;
}

.job-preview .aaemp-wrap .panel-body .btt-wrap a {
  color: #002d66;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.job-preview .right {
  width: 100%;
  margin: 0px 0px 20px 0px;
}

.job-preview .right .panel-heading {
  background-color: #37474f;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
}

.job-preview .right .panel-body {
  background-color: #f5f5f5;
}

.job-preview .right .panel-default {
  border: none;
  box-shadow: none;
  margin-bottom: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.job-preview .right .panel {
  border: none;
}

.job-preview .right .panel-body {
  border: 1px solid #dddddd;
}

.job-preview .right h4 {
  font-size: 13px;
  color: #5c5c5c;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
  padding: 0;
}

.job-preview .right .panel-body hr {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid #e5e5e5;
}

.job-preview .right .panel-body .aetsvr {
  color: #5c5c5c;
  display: flex;
  line-height: 1.5;
  margin: 0 0 0 0 !important;
  font-size: 14px;
  font-weight: normal;
}

.job-preview .right .panel-body .aetsvr .bctxt {
  color: #9d0191;
}

.job-preview .right .panel-body .aetsvr .ico {
  color: #9d0191;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 2px;
}

.job-preview .right .panel-body span {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px 0px;
  border-bottom: 1px solid #dddddd;
}

.job-preview .right span img {
  height: 22px;
  width: 22px;
  margin: -5px 5px 0px 0px;
}

.job-preview .apply .btn {
  background-color: #2b882f;
  color: #fff;
  border: 1px solid #2b882f;
  padding: 8px 30px;
  box-shadow: none;
  margin-top: 30px;
  font-size: 16px;
}

.job-preview .instruction-details {
  padding: 0px;
  margin: 0px;
}

.job-preview .instruction-details a {
  color: #2f64a3;
  text-decoration: none;
}

.job-preview .apply .btn:hover {
  background-color: #29612b;
  color: #fff;
}

.apply .btn:focus {
  background-color: #29612b;
  color: #fff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.job-preview p.category {
  padding: 15px 0px 10px 0px;
}

body>.container.job-details {
  overflow: visible !important;
  margin-bottom: 10px;
  position: relative;
  min-height: 2100px;
}

.job-details .right.banner {
  background: #eeeeee;
  position: absolute;
  top: 0px;
  right: 15px;
  margin-left: 0px;
}

.job-preview .right .panel-body h4 ul {
  padding: 0px;
  margin: 0px;
}

.job-preview .right .panel-body h4 ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.job-preview .right .panel-body h4 ul li a {
  color: #5c5c5c;
}

.job-preview .right .panel-body h4 ul li a:hover {
  color: #0e73a9;
  text-decoration: none;
}

.job-preview .job-link .panel-heading {
  background: #68aa47;
}

.job-preview .job-link a {
  color: #ffffff;
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.job-preview .bn.job-link a {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 16px;
}

.job-preview .training .carousel-inner {
  overflow: hidden;
}

.job-preview .training .panel-heading {
  background: #9e1a75;
}

.job-preview .action-section .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.job-preview .action-section .panel-body a {
  color: #5c5c5c;
}

.job-preview .action-section .panel-body a:hover,
.job-preview .action-section .panel-body a:hover {
  color: #337ab7;
  text-decoration: none;
}

.job-preview .training-details-link {
  font-size: 12px;
  padding-top: 10px;
}

#div-bdj-vdoadai {
  width: 242px;
  height: 400px;
  float: left;
  padding-left: 7px;
}

#div-bdj-vdoadai>div {
  margin-left: 0px !important;
}

#div-bdj-vdoadai .vdo_content .vdo-js {
  width: 235px;
}

.google-banner-bottom {
  width: 728px;
  float: left;
}

.job-preview .action-section i,
.job-link i {
  font-size: 16px;
  margin-right: 5px;
}

.job-link i:after {
  content: "";
  display: inline-block;
}

.job-link i {
  margin-top: 2px;
  display: block;
  float: left;
}

.job-preview .job-link .panel-default {
  border: none !important;
}

.image img {
  width: 100%;
}

.bn-en ul li,
.bn-en p {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 14px !important;
}

body.bn h5,
.img-source,
.img-bottom-link {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 16px !important;
}

body.bn,
.view-all-jobs.bn,
.bn>p,
.job_req li.bn,
.edu_req span.bn,
.company-name.bn,
ul.bn,
ul.bn>li,
.guide.bn>.instruction-details {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 15px !important;
}

.job-title.bn {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 18px !important;
}

body.bn .job-preview h2,
.company-name.bn {
  font-size: 20px !important;
}

.job-title.bn.image {
  font-size: 17px !important;
}

.job-summary.bn .panel-heading {
  font-size: 18px !important;
  font-weight: normal;
}

.job-summary.bn h4 {
  font-size: 15px !important;
}

.action-section.bn span a {
  font-size: 16px !important;
}

.en {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 18px !important;
}

.category.bn {
  font-size: 16px !important;
}

ul.bn>li.age,
ul.bn>li.gender {
  font-family: "Inter", Noto Sans Bengali UI, ui-icon, sans-serif;
  font-size: 14px !important;
}

span#btnText {
  display: inline-block !important;
  color: #ffffff !important;
}

.job-preview .hps-wrap {
  padding: 8px 15px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  clear: both;
  margin-bottom: 20px;
  border-radius: 2px;
  display: flex;
  align-items: flex-start;
  color: #595959;
}

.job-preview .hps-wrap .bicwrap {
  margin-right: 10px;
  font-size: 21px;
}

.job-preview .hps-wrap .contwrap {
  font-size: 13px;
}

.job-preview .hps-wrap .contwrap .plcont {
  display: inline;
}

.job-preview .hps-wrap .contwrap .plcont .badge {
  color: #b3003c;
  position: relative;
  padding: 0 7px 3px 7px;
  background-color: transparent;
  border: 1px solid #b3003c;
  border-radius: 50px;
  margin-left: 5px;
  font-weight: 600;
}

.job-preview .hps-wrap .contwrap .lmapl {
  margin-top: 2px;
}

.job-preview .hps-wrap .contwrap .lmapl .lmpl {
  color: #0060db;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .job-preview .right.job-summary {
    display: none;
  }

  .job-preview>.m-class>div {
    width: 100%;
  }

  .job-preview .training h4 span.course-left,
  .job-preview .training h4 span.course-right {
    width: 100% !important;
    float: left !important;
    margin-right: 5px !important;
  }

  .job-preview .training h4 span.course-left.duration {
    margin-bottom: -7px !important;
    display: block !important;
    float: left !important;
  }

  .job-preview .training h4 span.course-left.schedule {
    margin-bottom: 4px !important;
    display: block !important;
    float: left !important;
  }

  .job-preview .training h4 span.course-right.schedule {
    margin-bottom: 8px !important;
    display: block !important;
    float: left !important;
  }

  .job-preview .training h4.hours {
    margin-top: 10px !important;
    display: block !important;
    float: left !important;
  }
}

@media screen and (max-width: 767px) {
  .job-preview {
    margin-right: 0px;
  }

  .job-preview .right {
    display: block;
  }

  .job-preview .right.job-summary,
  .job-preview .right.action-section span.print {
    display: none;
  }

  .job-preview .company-info {
    margin: 40px 0px 20px 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .job-preview .company-info .information,
  .job-preview .company-info .follow-button {
    width: 100%;
    margin: 0px;
  }

  .job-preview .company-info .follow-button {
    float: left;
    text-align: center;
    margin-top: 10px;
  }

  .job-preview .follow-button .btn {
    margin-left: auto;
    margin-right: auto;
  }

  .job-preview .category-wrapper,
  .job-preview .job-title,
  .job-preview .com-logo,
  .job-preview .view-all-jobs,
  .job-preview .company-name {
    width: 100%;
    text-align: center;
  }

  .job-preview .view-all-jobs {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .job-preview .com-logo img {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  body>.container.job-details {
    min-height: 0px;
  }

  .job-preview .left {
    padding-right: 0px;
    height: auto !important;
  }
}

.assessment .popover {
  max-width: 350px !important;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
}

.assessment .popover-content {
  padding: 0px;
}

.icon-question {
  cursor: pointer;
}

.assessment {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.assessment .badge {
  font-size: 12px;
  color: #212121;
  background-color: #fff3e0;
  border: 1px solid #e6d2b3;
  font-weight: normal;
  padding: 4px 10px;
  border-radius: 50px;
}

.assessment .btn-question {
  color: #a6a6a6;
  padding: 2px;
}

.assessment .btn-question:hover {
  color: #424242;
  cursor: pointer;
}

.assessment .badge .icon-assessment-badge {
  color: #ef6c00;
  font-size: 16px;
  vertical-align: sub;
}

.assessment .mpover {
  width: 315px;
  margin-bottom: 0px;
  padding: 0px;
  border: none;
  z-index: 999;
}

.assessment .mpover:after {
  display: none;
}

.assessment .mpover h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
  color: #212121;
}

.assessment .mpover p {
  font-size: 14px;
  color: #666666;
  padding: 0px 0px 10px 0px;
}

.assessment .mpover a {
  text-transform: uppercase;
  display: block;
}

.assessment .mpover a:hover {
  text-decoration: none;
}

.assessment .mpover button.close span {
  font-size: 22px !important;
  right: 10px;
  top: 10px;
}

.job-preview .alert-success {
  background-color: #fefbfe;
  border: 2px solid #f3e5f5;
  color: #a553b3;
}

.job-preview .apply .btn.disabled {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  color: #a6a6a6;
  opacity: 1;
}

.vertical .carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel.vertical .item {
  left: 0;
}

.modal.oja .modal-body {
  border-radius: 0px;
  padding: 0px;
}

.modal.oja .modal-content {
  border-radius: 0px;
}

.modal.oja .modal-body .ap-title {
  background-color: #e8e8e8;
  padding: 15px 15px 15px 15px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid #666;
}

.modal.oja .modal-body .ap-title-bn {
  background-color: #e8e8e8;
  padding: 15px 15px 15px 15px;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  border-bottom: 1px solid #666;
}

.modal.oja .modal-body .oap-des {
  padding: 15px 15px 15px 15px;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
}

.modal.oja .modal-body .oap-des-bn {
  padding: 15px 15px 15px 15px;
  font-size: 15px;
  line-height: 22px;
  width: 100%;
}

.modal.oja .modal-body .adbtn {
  padding: 5px 15px 15px 15px;
  width: 100%;
}

.adbtn .btn {
  background-color: #43a047;
  color: #fff;
  border: 1px solid #43a047;
  padding: 8px 30px;
  box-shadow: none;
  font-size: 15px;
  min-width: 150px;
}

.adbtn .btn:hover,
.adbtn .btn:focus {
  background-color: #008c23;
  color: #fff;
}

.adbtn .btn.acpt {
  font-size: 15px;
}

.adbtn .btn.acpt-bn {
  font-size: 15px;
}

.adbtn .btn.deny {
  background-color: #ffffff;
  color: #43a047;
  border: 1px solid #43a047;
  padding: 8px 30px;
  box-shadow: none;
  font-size: 15px;
}

.adbtn .btn.deny-bn {
  background-color: #ffffff;
  color: #43a047;
  border: 1px solid #43a047;
  padding: 8px 30px;
  box-shadow: none;
  font-size: 15px;
}

.adbtn .btn:hover,
.adbtn .btn:focus {
  background-color: #008c23;
  color: #fff;
}

.modal.oja .modal-body .btr-txt {
  padding: 0px 15px 15px 15px;
  font-size: 13px;
  line-height: 22px;
  width: 100%;
  text-align: right;
}

.modal.oja .modal-body .btr-txt a {
  text-decoration: none;
  color: #2a6496;
  font-weight: bold;
  font-size: 13px;
}

.modal.oja .modal-body .btr-txt-bn {
  padding: 0px 15px 15px 15px;
  font-size: 13px;
  line-height: 22px;
  width: 100%;
  text-align: right;
}

.modal.oja .modal-body .btr-txt-bn a {
  text-decoration: none;
  color: #2a6496;
  font-weight: bold;
  font-size: 13px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .adbtn .btn.deny {
    margin-top: 15px;
  }

  .adbtn .btn.deny-bn {
    margin-top: 15px;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.rba-title-divider-l {
  width: 125px;
  height: 2px;
  background: #cccccc;
  margin: 15px auto 5px auto;
}

.rba-title-divider-s {
  width: 80px;
  height: 2px;
  background: #cccccc;
  margin: 0px auto 20px auto;
}

.rba .s-sug-txt {
  margin: 20px 0px 0px 0px;
  color: #5c5c5c;
}

.apto-title-divider-l {
  width: 125px;
  height: 2px;
  background: #cccccc;
  margin: 5px auto 0px auto;
}

.apto span {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  margin: 20px auto 0px auto;
}

.gra-bordered::before {
  content: "";
  display: block;
  width: 80%;
  position: absolute;
  bottom: 0px;
  left: 40%;
  margin-left: -30%;
  height: 1px;
  background: radial-gradient(at center center,
      rgba(0, 0, 0, 0.2) 0px,
      rgba(255, 255, 255, 0) 75%);
}

.gra-bordered,
.gra-backbordered {
  position: relative;
}

.gra-padded {
  padding-top: 10px;
  padding-bottom: 10px;
}

.job-preview .guide .vreswrap {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 15px 25px;
  display: inline-block;
  margin: 15px auto;
}

.job-preview .guide .vreswrap .enctxt {
  color: #000000;
}

.job-preview .guide .vreswrap .enctxt .bclr {
  color: #9a258f;
}

.job-preview .guide .vreswrap .actlnkwrap {
  margin-top: 5px;
}

.job-preview .guide .vreswrap .actlnkwrap .actlnk {
  text-decoration: none;
  color: #3077b5;
}

.job-preview .guide .pho-txt h2 {
  margin-top: 5px;
  color: #5c5c5c;
}

.asstr {
  max-width: 320px;
  margin: 30px auto 15px auto;
  text-align: left;
}

.asstr .panel-group .panel {
  margin: 0px 0px 1px 0px;
  border: 1px solid #43a047;
}

.asstr .panel-group .panel .panel-body {
  padding: 20px 5px 20px 5px;
}

.asstr .panel-heading {
  padding: 6px 10px 8px 10px;
  border: none;
  font-weight: bold;
  font-size: 14px;
}

.asstr .panel-heading span {
  font-weight: normal;
}

.asstr .panel-heading .panel-collapse .panel-body {
  padding: 5px 10px 15px 10px;
  border: none;
  border-top: none;
}

.asstr .panel-title.collapsed {
  color: #5c5c5c;
  font-weight: bold;
  text-transform: none;
  padding: 12px 10px;
  font-size: 14px;
  white-space: normal;
  word-break: break-all;
}

.asstr .panel-title,
.panel-title:hover {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: #5c5c5c;
  padding: 2px;
  text-decoration: none;
}

.asstr .panel {
  border: none;
  margin: 0px 0px 15px 0px !important;
}

.asstr .panel-heading a,
.asstr .panel-title a {
  text-decoration: none;
}

.asstr .panel-heading i {
  vertical-align: middle;
}

.asstr .panel-heading a i {
  vertical-align: middle;
  color: #5c5c5c;
  font-size: 20px;
}

.asstr .panel-title i {
  vertical-align: middle;
}

.asstr .panel-title a i {
  vertical-align: middle;
}

.asstr .panel-title a i.indicator {
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  font-size: 17px;
}

.asstr .panel ul {
  margin-bottom: 10px;
  margin-top: 0px;
}

.asstr .panel ul li {
  padding-left: 0;
  margin-left: 0px;
  list-style-type: none;
  line-height: 16px;
  list-style-image: url(/images/Tick.svg);
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
  .asstr .panel-heading {
    padding: 8px 6px 9px 6px;
    border: none;
    font-weight: bold;
    font-size: 13px;
  }

  .asstr .panel-heading.collapsed {
    font-size: 13px;
  }

  .asstr .panel-heading a i {
    font-size: 16px;
  }

  .asstr .panel-title,
  .panel-title:hover {
    padding: 0px;
    text-decoration: none;
  }

  .asstr .panel-title a i.indicator {
    margin-top: 6px;
    font-size: 14px;
  }
}

.left .col-sm-push-3 {
  left: 75%;
}

.left .col-sm-pull-9 {
  right: 25%;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .left .col-sm-push-3 {
    left: 0%;
  }

  .left .col-sm-pull-9 {
    right: 0%;
  }
}

.jaguid {
  padding: 12px 20px 12px 20px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
  font-size: 14px;
  border-radius: 4px;
  margin: 20px 0px 20px 0px;
  text-align: left;
  display: inline-block;
  max-width: 474px;
}

.jacm {
  color: #856404;
  line-height: 19px;
  margin-bottom: 4px;
}

.jacm .redish-txt {
  color: #ff3b30;
}

.jacm .greenish-txt {
  color: #008c23;
}

.tdavail {
  color: #aa5a18;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

.cinttip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin-left: 5px;
}

.cinttip .cinttip-content {
  visibility: hidden;
  min-width: 220px;
  background-color: #323232;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 170%;
  left: 0%;
  margin-left: -103px;
}

.cinttip span.cinttip-content {
  font-size: 12px;
  line-height: 17px;
}

.cinttip .cinttip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: #323232 transparent transparent transparent;
}

.cinttip .show {
  visibility: visible;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.jdfx {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (min-width: 0px) and (max-width: 991px) {
  .jdfx {
    flex-flow: column;
  }

  .jdfx :nth-child(1) {
    order: 1;
  }

  .jdfx :nth-child(2) {
    order: 3;
  }

  .jdfx :nth-child(3) {
    order: 2;
  }
}

.job-preview .ptjwrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .job-preview .ptjwrap {
    flex-flow: column;
  }

  .job-preview .ptjwrap :nth-child(1) {
    order: 2 !important;
  }

  .job-preview .ptjwrap :nth-child(2) {
    order: 1 !important;
  }
}

.job-preview .right.training {
  margin: 0px 0px 0px 0px;
}

.job-preview .right.training h4 span {
  display: inline-block;
  width: auto;
  font-size: 13px;
  padding: 0px;
  border-bottom: none;
}

.job-preview .right.training .panel-body {
  border: 1px solid #dddddd;
  padding-bottom: 10px;
}

.job-preview .right.training .panel-footer {
  border: 1px solid #dddddd;
  border-top: none;
}

.job-preview .right.training #carouselButtons {
  display: inline-block;
}

.job-preview .right.training #carouselButtons .ppbtn {
  padding: 2px 5px 2px 5px;
  font-size: 10px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #9e1a75;
}

.job-preview .right.training #carouselButtons .ppbtn span {
  padding: 0px;
  font-size: 10px;
  border-bottom: none;
}

.job-preview .right.training .tscontrol {
  float: right;
  margin-top: 5px;
}

.job-preview .right.training .tscontrol .control-box {
  margin: 0px !important;
  padding: 0px !important;
}

.job-preview .right.training .tscontrol .control-box li {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

.job-preview .right.training .tscontrol .control-box li>a {
  display: inline-block;
  padding: 3px 5px 3px 5px;
  background-color: #9e1a75;
  color: #ffffff;
  border-radius: 3px;
}

.job-preview .right.training .tscontrol .control-box li>a i {
  margin-right: 0px;
  font-size: 12px;
}

.jaguid .jacm .tooltip.top .tooltip-inner {
  min-width: 220px;
  background-color: #323232;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
}

.jaguid .jacm .tooltip.top .tooltip-arrow {
  border-top-color: #323232;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.job-preview .guide .emil a {
  color: #3174af;
}

.job-preview .right .panel-body .stj .icons {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-preview .right .panel-body .stj .icons li {
  list-style: none;
  display: inline-block;
  padding-bottom: 0;
  margin-right: 5px;
}

.job-preview .right .panel-body .stj .icons li .icn {
  margin-right: 0;
}

.job-preview .right .panel-body .stj .icons li .lnk:hover,
.job-preview .right .panel-body .stj .icons li .lnk:focus {
  color: #197ac7;
}

.job-preview .right .panel-body .stj .icons li .flnk:hover,
.job-preview .right .panel-body .stj .icons li .flnk:focus {
  color: #3b5998;
}

.job-preview .right .panel-body .stj .icons li .lilnk:hover,
.job-preview .right .panel-body .stj .icons li .lilnk:focus {
  color: #117bb7;
}

.job-preview .right .panel-body .stj .icons li .walnk:hover,
.job-preview .right .panel-body .stj .icons li .walnk:focus {
  color: #238619;
}

.job-preview .right .panel-body .stj .icons li .tlnk:hover,
.job-preview .right .panel-body .stj .icons li .tlnk:focus {
  color: #197faa;
}

.job-preview .right .panel-body .stj .icons li .emlnk:hover,
.job-preview .right .panel-body .stj .icons li .emlnk:focus {
  color: #c5221f;
}

.job-preview .right .panel-body .stj .icons li .plnk:hover,
.job-preview .right .panel-body .stj .icons li .plnk:focus {
  color: #000000;
}

.positionName {
  font-size: 12px;
}

.positionName .position_title {
  font-weight: 700;
}

* {
  margin: 0;
  box-sizing: border-box;
  --c1: #d1fbd0;
  --c2: #25c220;
  --c3: #008020;
}

.speedo-box {
  margin-top: 10px;
  padding: 20px;
}

.speedometer {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding: 16px;
  border-radius: 50%;
  background: radial-gradient(#fff 0 0) content-box,
    conic-gradient(from -90deg,
      var(--c1) 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg,
      #0000 0);
  position: relative;
}

.needle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 55px solid black;
  /* border-radius: 42%; */
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  animation: moveNeedle 2s ease forwards;
}

.needle-bottom {
  position: absolute;
  top: 53px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

@keyframes moveNeedle {
  from {
    transform: translateX(-50%) rotate(-90deg);
  }

  to {
    transform: translateX(-50%) rotate(var(--rotationAngle));
  }
}

.score {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 30px;
  font-size: 10px !important;
  font-weight: 400;
}

.label {
  position: absolute;
  font-size: 10px !important;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.low {
  top: 25px;
  right: 112px;
}

.medium {
  top: -16px;
  left: 35px;
}

.high {
  top: 25px;
  left: 114px;
}

.zero {
  top: 60px;
  right: 100px;
}

.handred {
  top: 60px;
  left: 96px;
}

.matching_job {
  border-radius: 4px 4px 0px 0px;
  border-bottom: 0.5px solid #13a10e !important;
  padding: 8px 12px;
  background-color: #fff !important;
}

.borderChange {
  border: 0.5px solid #13A10E !important;
}

.panel-title-insight {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 12px 8px 0 !important;
}

.InsightsView {
  display: flex;
  gap: 5px;
}

.ianglup {
  margin-top: 1px;
}

.res-row {
  display: flex;
  gap: 10px
}

.insightTitle {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.applicants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.appliedNumber {
  font-size: 24px;
  font-weight: 700;
  color: #2f64a3;
}

.tooltipWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.matching-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.expSalary {
  color: #B32D7D;
}


.experience-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.expectation-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.appWrap {
  border-radius: 4px 0px 0px 4px;
  background: #efffef;
}

.as-col-4 {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #efffef;

}

.padding-0 {
  padding: 0;
}

/* for bar graph  */

.matching-box .bar {
  width: 450px;
  height: 20px;
  position: relative;
  margin: 24px 0 20px 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.section {
  height: 100%;
  position: absolute;
}

.section.section1 {
  width: calc((50 / 100) * 100%);
  background-color: #bcdbff;
}

.section.section2 {
  width: calc((20 / 100) * 100%);
  background-color: #7bb7ff;
  left: calc((50 / 100) * 100%);
}

.section.section3 {
  width: calc((20 / 100) * 100%);
  background-color: #2280ee;
  left: calc((70 / 100) * 100%);
}

.section.section4 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: calc((10 / 100) * 100%);
  background-color: #2f64a3;
  left: calc((90 / 100) * 100%);
}

.section-label {
  position: absolute;
  bottom: -28px;
  font-size: 12px;
  text-align: center;
  width: calc(100% / 4);
}

.matching-label {
  position: absolute;
  bottom: -48px;
  font-size: 12px;
  text-align: center;
  width: calc(100% / 4);
  color: #b32d7d;
}

.section-label span {
  display: block;
  width: 100%;
}

.color-box {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -28px;
}

.handler {
  width: 1px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: -5px;
  transform: translateX(-50%);
  cursor: pointer;
}

.black-text {
  position: absolute;
  top: -21px;
  left: -13px;
  color: #000;
}

.handler-label {
  text-align: left;
  text-align: start;
  width: 100%;
  position: absolute;
  top: -25px;
  transform: translateX(-50%);
  font-size: 12px;
  color: #b32d7d;
}

.paddingMatch {
  padding: 30px 20px;
}

.experience_bar {
  width: 450px;
  height: 20px;
  position: relative;
  margin: 24px 0 20px 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.experience_section {
  height: 100%;
  position: absolute;
}

.experience_section.experience_section1 {
  width: calc((5 / 15) * 100%);
  background-color: #fdcdea;
}

.experience_section.experience_section2 {
  width: calc((5 / 15) * 100%);
  background-color: #f981c9;
  left: calc((2 / 15) * 100%);
}

.experience_section.experience_section3 {
  width: calc((5 / 15) * 100%);
  background-color: #d9409b;
  left: calc((5 / 15) * 100%);
}

.experience_section.experience_section4 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: calc((5 / 15) * 100%);
  background-color: #b32d7d;
  left: calc((10 / 15) * 100%);
}

.experience_section-label {
  position: absolute;
  bottom: -28px;
  font-size: 12px;
  text-align: center;
  width: calc(100% / 4);
}

.experience-label {
  position: absolute;
  bottom: -48px;
  font-size: 12px;
  text-align: center;
  width: calc(100% / 4);
  color: #b32d7d;
}

.experience_section-label span {
  display: block;
  width: 100%;
}

.experience-color-box {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -28px;
}

.experience_handler {
  width: 1px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: -5px;
  transform: translateX(-50%);
  cursor: pointer;
}

.experience_handler-label {
  display: flex;
  position: absolute;
  top: -25px;
  transform: translateX(-50%);
  font-size: 12px;
  color: #b32d7d;
}

.experience-black-text {
  color: #000;
  font-size: 16px;
}

.tooltipLink {
  color: black;
  text-decoration: none;
  margin-top: 4px;
  margin-right: 4px;
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {


  .handler-label.left_p {
    top: -27px;
    left: calc(var(--position-of-label) - 75px) !important;
    text-align: center !important;
  }

  .handler-label.right_p {
    top: -27px;
    left: calc(var(--position-of-label) + 57px) !important;
  }


  .as-col-4 {
    width: 300px;
  }


  .matching-box .bar,
  .experience_bar {
    width: 300px;
    height: 15px;
  }

  .section-label,
  .experience_section-label {
    font-size: 12px;
    bottom: -22px;
  }

  .color-box,
  .experience-color-box {
    width: 15px;
    height: 15px;
    bottom: -22px;
  }

  .matching-label,
  .experience-label {
    font-size: 12px;
    bottom: -38px;
  }

  .handler,
  .experience_handler {
    height: 28px;
    top: -13px;
  }

  .black-text {
    top: -14px;
    left: -7px;
  }

  .handler-label,
  .experience_handler-label {
    top: -27px;
    width: 176px;
  }

  .handler-label,
  .experience-black-text,
  .black-text {

    font-size: 10px !important;
  }

  .experience-year {
    font-size: 10px !important;
  }

  .tooltipLink {
    font-size: 12px;
  }

  .expTooltip {
    margin-top: -12px;
  }

  .experience-box,
  .matching-box {
    margin-right: 5px;
    gap: 5px;
  }

  .section-label.label1 {
    left: calc(14%) !important;
  }

  .section-label.label2 {
    left: calc(37%) !important;
  }

  .section-label.label3 {
    left: calc(61%) !important;
  }

  .section-label.label4 {
    left: calc(85%) !important;
  }

  .color-box.box1 {
    left: calc(15%) !important;
  }

  .color-box.box2 {
    left: calc(38%) !important;
  }

  .color-box.box3 {
    left: calc(62%) !important;
  }

  .color-box.box4 {
    left: calc(85%) !important;
  }

  .matching-label.match_lab1 {
    left: calc(10%) !important;
  }

  .matching-label.match_lab2 {
    left: calc(37%) !important;
  }

  .matching-label.match_lab3 {
    left: calc(62%) !important;
  }

  .matching-label.match_lab4 {
    left: calc(85%) !important;
  }

  .experience_section-label.label1 {
    left: calc(12%) !important;
  }

  .experience_section-label.label2 {
    left: calc(35%) !important;
  }

  .experience_section-label.label3 {
    left: calc(60%) !important;
  }

  .experience_section-label.label4 {
    left: calc(82%) !important;
  }

  .experience-color-box.box1 {
    left: calc(15%) !important;
  }

  .experience-color-box.box2 {
    left: calc(38%) !important;
  }

  .experience-color-box.box3 {
    left: calc(62%) !important;
  }

  .experience-color-box.box4 {
    left: calc(85%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(13%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(36%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(61%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(86%) !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .handler-label.left_p {
    top: -27px;
    left: calc(var(--position-of-label) - 60px) !important;
    text-align: center !important;
  }

  .handler-label.right_p {
    top: -27px;
    left: calc(var(--position-of-label) + 57px) !important;
  }


  .as-col-4 {
    width: 300px;
  }


  .matching-box .bar,
  .experience_bar {
    width: 210px;
    height: 10px;
  }

  .section-label,
  .experience_section-label {
    font-size: 12px;
    bottom: -18px;
  }

  .color-box,
  .experience-color-box {
    width: 8px;
    height: 8px;
    bottom: -16px;
  }

  .matching-label,
  .experience-label {
    font-size: 12px;
    bottom: -30px;
  }

  .handler,
  .experience_handler {
    height: 23px;
    top: -13px;
  }

  .black-text {
    top: -14px;
    left: -7px;
  }

  .handler-label,
  .experience_handler-label {
    top: -27px;
    width: 105px;
  }

  .handler-label,
  .experience-black-text,
  .black-text {

    font-size: 10px !important;
  }

  .experience-year {
    font-size: 10px !important;
  }

  .tooltipLink {
    font-size: 12px;
  }

  .expTooltip {
    margin-top: -12px;
  }

  .experience-box,
  .matching-box {
    margin-right: 5px;
    gap: 5px;
  }

  .appliedNumber {
    font-size: 20px;
  }

  .paddingMatch {
    padding: 20px 10px 20px 0;
  }

  .matching-box,
  .experience-box,
  .expectation-box {
    font-size: 12px !important;
    font-weight: 500;
  }

  .section-label,
  .experience_section-label {
    font-size: 12px;
  }

  .color-box,
  .experience-color-box {
    width: 12px;
    height: 12px;
  }

  .handler-label,
  .black-text {
    font-size: 8px !important;
  }

  .section-label.label1 {
    left: calc(16%) !important;
  }

  .section-label.label2 {
    left: calc(40%) !important;
  }

  .section-label.label3 {
    left: calc(65%) !important;
  }

  .section-label.label4 {
    left: calc(91%) !important;
  }

  .color-box.box1 {
    left: calc(15%) !important;
  }

  .color-box.box2 {
    left: calc(38%) !important;
  }

  .color-box.box3 {
    left: calc(63%) !important;
  }

  .color-box.box4 {
    left: calc(87%) !important;
  }

  .matching-label.match_lab1 {
    left: calc(10%) !important;
  }

  .matching-label.match_lab2 {
    left: calc(37%) !important;
  }

  .matching-label.match_lab3 {
    left: calc(62%) !important;
  }

  .matching-label.match_lab4 {
    left: calc(85%) !important;
  }

  .experience_section-label.label1 {
    left: calc(18%) !important;
  }

  .experience_section-label.label2 {
    left: calc(42%) !important;
  }

  .experience_section-label.label3 {
    left: calc(65%) !important;
  }

  .experience_section-label.label4 {
    left: calc(86%) !important;
  }

  .experience-color-box.box1 {
    left: calc(15%) !important;
  }

  .experience-color-box.box2 {
    left: calc(38%) !important;
  }

  .experience-color-box.box3 {
    left: calc(62%) !important;
  }

  .experience-color-box.box4 {
    left: calc(85%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(13%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(36%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(61%) !important;
  }

  .experience-label.ex_lab1 {
    left: calc(86%) !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {


  .handler-label.left_p {
    top: -16px;
    left: calc(var(--position-of-label) - 40px) !important;
  }

  .handler-label.right_p {
    top: -16px;
    left: calc(var(--position-of-label) + 36px) !important;
  }

  .as-col-4 {
    width: 180px;
  }

  .as-col-8 {
    width: 410px;
  }

  .appliedNumber {
    font-size: 14px;
  }

  .appliedCount {
    font-size: 10px;
  }

  .matching-box .bar,
  .experience_bar {
    width: 220px;
    height: 10px;
  }

  .matching-box,
  .experience-box,
  .expectation-box {
    font-size: 12px !important;
    font-weight: 500;
    margin-right: 5px;
    gap: 5px;
  }

  .section-label,
  .experience_section-label {
    font-size: 8px;
    bottom: -18px;

  }

  .color-box,
  .experience-color-box {
    width: 8px;
    height: 8px;
    bottom: -16px;
  }

  .matching-label,
  .experience-label {
    font-size: 8px;
    bottom: -30px;
  }

  .handler,
  .experience_handler {
    height: 16px;
    top: -8px;
  }

  .black-text {
    top: -9px;
    left: -5px;
  }

  .handler-label,
  .experience_handler-label {
    top: -18px;
    width: 76px;
  }

  .handler-label,
  .experience-black-text,
  .black-text {

    font-size: 6px !important;
  }

  .experience-year {
    font-size: 6px !important;
  }

  .tooltipLink {
    font-size: 8px;
  }

  .expTooltip {
    margin-top: -12px;
  }

  .paddingMatch {
    padding: 10px 5px 20px 0;
  }

  .color-box.box1 {
    left: calc(33%) !important;
  }

  .color-box.box2 {
    left: calc(53%) !important;
  }

  .color-box.box3 {
    left: calc(73%) !important;
  }

  .color-box.box4 {
    left: calc(89%) !important;
  }

}

@media only screen and (min-width: 400px) and (max-width: 500px) {

  .handler-label.left_p {
    top: -16px;
    left: calc(var(--position-of-label) - 40px) !important;
  }

  .handler-label.right_p {
    top: -16px;
    left: calc(var(--position-of-label) + 36px) !important;
  }

  .as-col-4 {
    width: 60px;
  }

  .as-col-4 {
    width: 310px;
  }

  .appliedNumber {
    font-size: 14px;
  }

  .appliedCount {
    font-size: 10px;
  }

  .paddingMatch {
    padding: 15px 10px 15px 0;
  }

  .matching-box .bar,
  .experience_bar {
    width: 162px;
    height: 10px;
  }

  .matching-box,
  .experience-box,
  .expectation-box {
    font-size: 12px !important;
    font-weight: 500;
    margin-right: 5px;
    gap: 5px;
  }

  .section-label,
  .experience_section-label {
    font-size: 8px;
    bottom: -18px;
  }

  .color-box,
  .experience-color-box {
    width: 8px;
    height: 8px;
    bottom: -16px;
  }

  .matching-label,
  .experience-label {
    font-size: 8px;
    bottom: -30px;
  }

  .handler,
  .experience_handler {
    height: 16px;
    top: -8px;
  }

  .black-text {
    top: -9px;
    left: -5px;
  }

  .handler-label,
  .experience_handler-label {
    top: -18px;
    width: 100px;
  }

  .handler-label,
  .experience-black-text,
  .black-text {

    font-size: 6px !important;
  }

  .experience-year {
    font-size: 6px !important;
  }

  .tooltipLink {
    font-size: 8px;
  }

  .expTooltip {
    margin-top: -12px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {


  .handler-label.left_p {
    top: -16px;
    left: calc(var(--position-of-label) - 40px) !important;
  }

  .handler-label.right_p {
    top: -16px;
    left: calc(var(--position-of-label) + 36px) !important;
  }

  .experience_handler-label{
    left: calc(var(--exp-label) + 5px) !important;
  }

  .as-col-4 {
    width: 150px;
  }

  .appliedNumber {
    font-size: 14px;
  }

  .appliedCount {
    font-size: 10px;
  }

  .paddingMatch {
    padding: 15px 10px 15px 0;
  }

  .section-label,
  .experience_section-label {
    font-size: 8px;
    bottom: -18px;
  }

  .color-box,
  .experience-color-box {
    width: 8px;
    height: 8px;
    bottom: -16px;
  }

  .matching-box .bar,
  .experience_bar {
    width: 116px;
    height: 8px;
  }

  .matching-label,
  .experience-label {
    font-size: 8px;
    bottom: -30px;
  }

  .handler,
  .experience_handler {
    height: 16px;
    top: -8px;
  }

  .black-text {
    top: -9px;
    left: -5px;
  }

  .handler-label,
  .experience_handler-label {
    top: -18px;
    width: 100px;
  }

  .handler-label,
  .experience-black-text,
  .black-text {

    font-size: 6px !important;
  }

  .experience-year {
    font-size: 6px !important;
  }

  .tooltipLink {
    font-size: 8px;
  }

  .expTooltip {
    margin-top: -12px;
  }

  .section-label.label1 {
    left: calc(10%) !important;
  }

  .section-label.label2 {
    left: calc(35%) !important;
  }

  .section-label.label3 {
    left: calc(64%) !important;
  }

  .section-label.label4 {
    left: calc(88%) !important;
  }

  .color-box.box1 {
    left: calc(6%) !important;
  }

  .color-box.box2 {
    left: calc(32%) !important;
  }

  .color-box.box3 {
    left: calc(59%) !important;
  }

  .color-box.box4 {
    left: calc(87%) !important;
  }

  .experience_section-label.label1 {
    left: calc(18%) !important;
  }

  .experience_section-label.label2 {
    left: calc(42%) !important;
  }

  .experience_section-label.label3 {
    left: calc(65%) !important;
  }

  .experience_section-label.label4 {
    left: calc(86%) !important;
  }

  .experience-color-box.box1 {
    left: calc(15%) !important;
  }

  .experience-color-box.box2 {
    left: calc(38%) !important;
  }

  .experience-color-box.box3 {
    left: calc(62%) !important;
  }

  .experience-color-box.box4 {
    left: calc(85%) !important;
  }


  .appWrap.applicants {
    text-align: center;
    width: 63px;
  }

  .res-padding {
    padding: 0;
  }

  /* .matching-box {
    gap: 5px;
  } */

  .matching-box img,
  .experience-box img,
  .expectation-box img {
    height: 12px;
    width: 12px;
  }

  .matching-box,
  .experience-box,
  .expectation-box {
    gap: 5px;
    font-size: 10px !important;
    font-weight: 500;
  }
}